body{
  margin: 0;
}
.dx-overlay-content {
  background-color: rgb(215, 215, 215);
}
#toolbar {
  background: rgba(220, 246, 255, 0.608);
  background: linear-gradient(90deg, rgba(220, 246, 255, 0.608) 40%, rgba(72, 203, 255, 0.715) 100%);
  padding: 5px 10px;
  box-shadow: 250px 5px 41px -2px rgba(34, 60, 80, 0.2);
}
.dx-toolbar-button .dx-button {
  background-color: rgba(191, 191, 191, -0.15);
  border: none;
}
.dx-toolbar-button > .dx-toolbar-item-content {
  margin-left: -7px;
}
.dx-list-item-icon {
  margin-right: 10px;
}
#view {
  margin-left: 10px;
  margin-top: 10px;
}
.dx-drawer-panel-content{
  background-color:rgba(220, 246, 255, 0.608);
}
#gridCon {
  height: 90vh;
}
.dx-drawer-panel-content {
  box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
    0 25px 20px rgba(0, 0, 0, 0.1);
}
.dx-toolbar .dx-toolbar-items-container{
  height: 40px;
}
.dx-drawer-content{
  margin-right: .5rem;
  border-top-left-radius: 20px;
  box-shadow: -15px -18px 10px 2px rgba(220, 246, 255, 0.608)
}
.dx-drawer{
  height: calc(100vh - 50px);
}
.dx-list-item-content{
  padding-left: 10px;
}
